<h2> {{ visitor.name }} <small>{{ visitor.company }}</small></h2>

<div class="row">

    <div class="panel panel-info col-md-8">
        <div class="panel-heading">
            <h3 class="panel-title">Visits</h3>
        </div>
        <div class="panel-body">

        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Visit Date</th>
                    <th>Site</th>
                    <th>Badge</th>
                    <th>No Escort</th>
                    <th>Keycard</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visit of visits">
                    <td class="nowrap">{{ visit.date | date }}</td>
                    <td class="nowrap">{{ visit.site }}</td>
                    <td class="nowrap">
                        <span [style.text-decoration]="visit.badge.returned ? 'line-through' : 'initial'">
                            {{ visit.badge.badge }}
                        </span>
                    </td>
                    <td class="nowrap">
                        <i class="fa" [class.fa-check]="visit.badge.noEscort" [class.fa-times]="!visit.badge.noEscort"></i>
                    </td>
                    <td class="nowrap">
                        <span [style.text-decoration]="visit.keycard.returned ? 'line-through' : 'initial'">
                            {{ visit.keycard.keycard }}
                        </span>
                    </td>
                    <td>{{ visit.comments }}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-4 panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Attachments 
                <a href="#" class="pull-right" (click)="$event.preventDefault(); lgModal.show()">
                    Add 
                    <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
        <div class="panel-body">
        </div>
        <table class="table table-hover">
            <thead>
                <th>Filetype</th>
                <th>Filename</th>
                <th>Signed Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let file of visitor.attachments.approved | orderBy: '-dateSigned'">
                    <td>Approval Form</td>
                    <td>{{ file.filename }}</td>
                    <td>
                        {{ file.dateSigned | date }} ({{ file.dateSigned | amTimeAgo }})
                    </td>
                </tr>
                <tr *ngFor="let file of visitor.attachments.confidentiality | orderBy: '-dateSigned'">
                    <td>Confidentiality Form</td>
                    <td>{{ file.filename }}</td>
                    <td>
                        {{ file.dateSigned | date }} ({{ file.dateSigned | amTimeAgo }})
                    </td>
                </tr>
                <tr *ngFor="let file of visitor.attachments.recording | orderBy: '-dateSigned'">
                    <td>Recording Device Form</td>
                    <td>{{ file.filename }}</td>
                    <td>
                        {{ file.dateSigned | date }} ({{ file.dateSigned | amTimeAgo }})
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Add Attachment</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Form Date</label>
                <input [ngModel]="fileInfo.date" type="date" class="form-control" #date (change)="fileInfo.date = date.value">
                <label>Form Type</label>
                <select #filetype class="form-control" (change)="fileInfo.filetype = filetype.value">
                    <option disabled>Pick form type...</option>
                    <option value="approved">Approved Visit Form</option>
                    <option value="confidentiality">Confidentiality form</option>
                </select>

                <input type="file" class="form-control" (change)="fileChanged($event)">

                <button type="button" class="btn btn-primary" 
                    [disabled]="!this.fileInfo.date || !this.fileInfo.filetype || !this.file"
                    (click)="uploadFile()">Upload File</button>
            </div>
        </div>
    </div>
</div>